button {
  background-color: #fff;
  border: 1px solid teal;
}

.time-table {
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #666;
  color: #fff;
  font-size: 24px;
  padding: 1rem;
}

.times {
  background-color: #f1f1f1;
  padding: 2rem;
}

.timetabels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
}
.timetabels p {
  font-size: 20px;
  font-weight: bold;
}

.timetabels .price {
  background-color: teal;
  padding: 0.5rem 2rem;
  color: #fff;
}
