.faq {
  max-width: 600px;
  margin: 50px auto;
}


.section-title{
  margin-left: 20px;
}

.faq-wrapper {
  margin: 0 auto;
 margin-left: 20px;
  position: relative;
  color: red;
  line-height: 1.5;
  
}

