.payment-gateway {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #333;
  padding: 1rem;
}

img {
  width: 75%;
}

.card-detail {
  flex-direction: row;
  background-color: teal;
  padding: 1rem;
  color: #fff;
}

.card-detail label {
  display: inline-block;
  width: 150px;
  margin-bottom: 1rem;
}

.card-detail input {
  height: 30px;
  width: 200px;
  padding: 0 0.5rem;
}

#cvc {
  width: 15%;
}

.card-detail button {
  width: 200px;
}
