.section-booking {
  position: relative;
}

.booking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: teal;
  width: 100%;
  padding: 16px;
}

select,
.booking-date {
  height: 35px;
  width: 175px;
  margin: 10px;
  border: none;
  padding: 0 16px;
  background-color: #c3ffff;
  color: #333;
}

select {
  border: none;
  font-family: inherit;
  text-transform: capitalize;
}

.input-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.input-people button {
  width: 35px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.no-of-people {
  color: #fff;
}

.booking-date {
  font-family: inherit;
  text-transform: uppercase;
}

.primary-btn {
  background-color: teal;
  color: #fff;
  text-transform: uppercase;
  height: 35px;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}

.secondary-btn {
  background-color: rgb(157, 252, 252);
  color: #333;
  text-transform: uppercase;
  height: 35px;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid teal;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}
