.hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 40px;
  padding: 16px 32px;
  background-color: #fff;
  color: teal;
}

p:last-child {
  font-size: 20px;
  font-style: italic;
}

span {
  margin-right: 16px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  font-size: 20px;
}
