.hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 16px;
  transform: translate(-50%, -35%);
  background-color: #fff;
  box-shadow: 0 0 0 5px teal;
  color: #fff;
  text-align: center;
  min-width: auto;
}

h2 {
  font-size: 40px;
  color: teal;
  margin: 0;
  padding: 20px 0;
}

.hero-text .feature-txt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text .feature-txt p {
  color: #fff;
  padding: 16px;
  margin: 0 5px;
  width: 150px;
  background-color: #333;
}
